<div class="pagination" >
  <div class="pagination-button pagination-button_left" [class.disabled]="isFirst()" (click)="pageChange(pervPage)">
    Предыдущая
  </div>

  <div class="pagination-nav">

    <div class="pagination-button" (click)="pageChange(1)">1</div>
    <div class="pagination-button active">2</div>
    <div class="pagination-button">3</div>
    <div class="pagination-button">4</div>

  </div>

  <div class="pagination-button pagination-button_right" [class.disabled]="isLast()" (click)="pageChange(nextPage)">
    Слудующая
  </div>
</div>
